/* 画面全体に関する設定 */
body {
    font: 14px;
}
a {
    display: inline-block;
    position: relative;
    text-decoration: none;
}
a::after {
    position: absolute;
    bottom: -4px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: #333;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: transform .3s;
}
div {
    margin: 20px 0px;
}

/* index.htmlに関する設定 */
.title{
    margin: 20px;
    font-family: serif;
    position: relative;
    padding: 1em .5rem;
}
.title h1{
    text-shadow: 3px 3px 4px rgba(0,0,0,0.3);
}
.title:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6px;
    content: '';
    border-radius: 3px;
    background-image: black;
}
.intro{
    text-align: center;
    font-family: serif;
    margin-top: 4em;
}
.intro h2{
    font-size: 2em;
}
.intro h3{
    margin-top: .7em;
    font-size: 1.4em;
    color: rgb(104, 103, 103);
}
.account_info{
    text-align: center ;  
    margin: 0 auto ;
    width: 55em;
}
.account_info h3{
    text-align: center;
    color: rgb(100, 99, 99);
    font-size: 1.4em;
    margin-top:1em;
}
.home a {
    color: black;
    font-size: 1.6em;
    letter-spacing: 7px;
    font-weight: bold;
    padding: .4rem 1rem;
    border: 2px solid black;
    border-radius: 4px;
    width: 20em;
}

/* 新規登録、ログイン画面 */
.account{
    /*background-color: rgb(202, 244, 250);*/
    text-align: center;
}
.main-title{
    margin-top: 2em;
    font-size: 32px;
}
.form_account{
    font-family: serif;
    text-align: center;
    font-size: 25px;
    margin-top: 40px;
    line-height: 1.5;
}
.form_account p input{
    font-size: 22px;
    width: 20em;
}
.w-50{
    margin-top: 45px;
    font-size: 22px;
    width: 26em;
    line-height: 1.25;
    color: black;
    background-color: white;
    border: solid 3px #67c5ff;
    border-radius: 8px;
}
.to_top{
    margin-top: 50px;
    font-size: 1.2em;
    margin-left: 24em;
}

/* room_top.htmlに関する設定 */
.rooms_intro{
    text-align: center;
}
.rooms{
    margin: 0 10% 0 10%;
    padding: 5px 20px 5px 20px;
    background-color: #EEEEEE;
    border-radius: 10px;
}
.logout{
    margin-left: 82%;
    margin-top: 20px;
}

/* チャットルーム画面（room.html）に関する設定 */
.room-title{
    position: fixed;
    z-index: 100;
    width: 100%;
    top: 0;
    margin-top: 0px;
    /* height: 60px; */
    text-align: center;
    font-family: serif;
    background-color: #EEEEEE;
}

.msgs{
    /* margin: auto; */
    margin-top: 80px;
    margin-bottom: 120px;
    /* border: solid; */
}
.msgbox .msg{
    margin: 0 auto 0 15%;
    width: fit-content;
    max-width: 50%;
    /* border: solid 2px #67c5ff; */
    border-radius: 5px;
    background: #DDDDDD;
    cursor: pointer;
}
.my-msgbox .msg{
    margin: 0 15% 0 auto;
    width: fit-content;
    max-width: 50%;
    /* border: solid 2px #67c5ff; */
    border-radius: 5px;
    background: #92D5FF;
    cursor: pointer;
}
.msgbox > p{
    text-align: left;
    margin: 0 auto 0 15%;
}
.my-msgbox > p{
    text-align: right;
    margin: 0 15% 0 auto;
}
.msg > p{
    margin: 0.2em 0.8em 0.2em 0.8em;
    padding: 0.2em 0 0.2em 0;
    white-space: pre-wrap;
    word-wrap: break-word;
}

#chatbox{
    position: fixed;
    z-index: 100;
    width: 100%;
    bottom: 0;
    margin-bottom: 0;
    background-color: white;
    padding: 10px 0 60px 0;
}
#chatbox > textarea{
    display: inline-block;
    float: left;
    margin-left: 15%;
    width: 65%;
    line-height: 20px;
    max-height: 120px;
}

.back{
    margin-left: 10px;
}
.back::after{
    clear: both;
}

.dt-inv{
    /* visibility: hidden; */
    /* height: 0; */
    display: none;
}
.dt-vis{
    text-align: center;
}

.msg-outbox{
    /* border: solid 1px; */
    margin: 0 0 0 0;
}
.msgbox{
    position: relative;
    /* border: solid; */
}
.my-msgbox{
    position: relative;
    /* border: solid; */
}

.menu{
    display: inline-block;
    padding: 0.3em 0.3em;
    border-radius: 12px;
    background: #e2e2e2;
    position: absolute;
    top: 6px;
    right: 86%;
}
.my-menu{
    display: inline-block;
    padding: 0.3em 0.3em;
    border-radius: 12px;
    background: #e2e2e2;
    position: absolute;
    top: 6px;
    left: 86%;
}
.menu-hidden{
    display: none;
}
.menu-list{
    display: block;
    color: black;
    font-size: small;
    margin: 0.2em 0.2em 0.2em 0.2em;
    border: none;
    background: #e2e2e2;
    cursor: pointer;
}
/* リプライ */
.reply{
    margin: 0 15% 0 15%;
    border: solid 2px;
    border-radius: 5px;
}
.reply-btn{
    margin: -6px auto -8px 15%;
    width: fit-content;
    cursor: pointer;
}
.my-reply-btn{
    margin: -6px 15% -8px auto;
    width: fit-content;
    cursor: pointer;
}