/* 画面全体に関する設定 */
html, body{
    height: 100%;
    font: 14px;
    margin: 0;
    /* border: solid; */
    padding: 0;
}
a {
    display: inline-block;
    position: relative;
    text-decoration: none;
}
div {
    margin: 20px 0px;
}
footer{
    height: 40px;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #444444;
    z-index: 400;
}
footer .foot1 a{
    float: left;
    line-height: 40px;
    margin-left: 5%;
    color: #DDDDDD;
}
footer .foot2{
    float: right;
    line-height: 40px;
    margin-right: 5%;
    color: white;
}
/* index.htmlに関する設定 */
.home{
    margin: 0;
    height: 92%;
}
.title{
    font-family: serif;
    position: relative;
    padding: 0.1px 0.1px 0.1px 22px;
    color: white;
    background-color: #222222; /*336699, dddddd;*/
    margin: 0;
}
.title h1{
    position: relative;
    padding-left: 50px;
    margin: 10px auto 10px auto;
}
.title h1::before,
.title h1::after{
    content: "□";
    position: absolute;
}
.title h1::before{
    left:0;
    top:-3px;
}
.title h1::after{
    left: 5px;
    top: 3px;
    color: #A1B8D1;
}

.intro{
    text-align: center;
    font-family: serif;
    margin-top: 4em;
}
.intro h3{
    color: rgb(104, 103, 103);
}
.account_info{
    text-align: center ;  
    margin: 0 auto ;
}
.account_info h3{
    color: rgb(100, 99, 99);
}
.account_info a {
    color: black;
    font-size: 1.2em;
    letter-spacing: 7px;
    font-weight: bold;
    padding: .4rem 1rem;
    border: 1px solid black;
    background-color: #eeeeee;
    /* border-radius: 4px; */
    width: 20em;
    /* border-left: 5px solid rgb(60, 156, 235); */
}

/* 新規登録、ログイン画面 */
.container{
    margin: 0;
    height: 100%;
    background: linear-gradient(to bottom right, #478ed4, #5bc4cc);
}
.account{
    background-color: white;
    text-align: center;
    width: 400px;
    margin: 100px auto auto auto;
}
.main-title{
    padding-top: 20px;
    /* border: solid; */
    font-size: 32px;
}
.form_account{
    font-family: serif;
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
    line-height: 1.5;
}
.form_account p input{
    font-size: 22px;
    width: 80%;
}
.w-50{
    margin-top: 20px;
    font-size: 18px;/*22px;*/
    width: 80%;
    line-height: 1.25;
    cursor: pointer;
    /* color: white; */
    /* background-color: #336699; */
}
.to_top{
    margin-top: 20px;
    margin-left: 14em;
}

/* room_top.htmlに関する設定 */
.rooms_intro{
    text-align: center;
}
.rooms{
    margin: 0 auto 0 auto;
    width: 600px;
    padding: 5px 30px 5px 30px;
    background-color: #EEEEEE;
    border-radius: 10px;
    box-shadow: 2px 2px 8px -2px gray;
    font-family: serif;
}
.rooms div p{
    padding-left: 10px;
    /* border-bottom: solid 1px; */
}
.rooms div a{
    color: black;
}
.logout{
    margin-left: 82%;
    margin-top: 20px;
}

/* チャットルーム画面（room.html）に関する設定 */
.room-title{
    position: fixed;
    z-index: 100;
    width: 100%;
    top: 0;
    margin-top: 0px;
    /* height: 60px; */
    text-align: center;
    font-family: serif;
    color: white;
    background-color: #222222; /*f8f8f8, 006699, 336699, 444444, 333333*/
    box-shadow: 2px 2px 8px -2px gray;
}
.room-title h3{
    /* color: white; */
    margin: 10px 0 10px 0;
}

.msgs{
    margin-top: 80px;
    padding-bottom: 120px;
    /* border: solid red; */
}
.msgbox .msg{
    margin: 0 auto 0 15%;
    width: fit-content;
    max-width: 50%;
    /* border: solid 2px #67c5ff; */
    border-radius: 5px;
    background: #e0e0e0;
    cursor: pointer;
}
.my-msgbox .msg{
    margin: 0 15% 0 auto;
    width: fit-content;
    max-width: 50%;
    /* border: solid 2px #67c5ff; */
    border-radius: 5px;
    background: #92D5FF;/*92D5FF, 009ceb;*/
    cursor: pointer;
}
.msgbox > p{
    text-align: left;
    margin: 0 auto 0 15%;
}
.my-msgbox > p{
    text-align: right;
    margin: 0 15% 0 auto;
}
.msg > p{
    margin: 0.2em 0.8em 0.2em 0.8em;
    padding: 0.2em 0 0.2em 0;
    white-space: pre-wrap;
    word-wrap: break-word;
}
.my-msgbox .msg > p{
    /* color: white; */
}

#chatbox{
    position: fixed;
    z-index: 100;
    width: 100%;
    bottom: 0;
    margin-bottom: 0;
    padding: 10px 0 60px 0;
    background-color: #f8f8f8; /*b6b6b6;*/
    box-shadow: 2px 0px 8px -2px gray;
}
#chatbox > textarea{
    display: inline-block;
    float: left;
    margin-left: 15%;
    width: 65%;
    line-height: 20px;
    max-height: 120px;
}

.back{
    margin-left: 10px;
}
.back::after{
    clear: both;
}

.dt-inv{
    /* visibility: hidden; */
    /* height: 0; */
    display: none;
}
.dt-vis{
    text-align: center;
}

.msg-outbox{
    /* border: solid 1px; */
    margin: 0 0 0 0;
}
.msgbox{
    position: relative;
    /* border: solid; */
}
.my-msgbox{
    position: relative;
    /* border: solid; */
}

.menu{
    display: inline-block;
    padding: 0.3em 0.3em;
    border-radius: 12px;
    background: #e2e2e2;
    position: absolute;
    top: 6px;
    right: 86%;
}
.my-menu{
    display: inline-block;
    padding: 0.3em 0.3em;
    border-radius: 12px;
    background: #e2e2e2;
    position: absolute;
    top: 6px;
    left: 86%;
}
.menu-hidden{
    display: none;
}
.menu-list{
    display: block;
    color: black;
    font-size: small;
    margin: 0.2em 0.2em 0.2em 0.2em;
    border: none;
    background: #e2e2e2;
    cursor: pointer;
}
/* リプライ */
.reply{
    margin: 0 15% 0 15%;
    border: solid 1px;
    border-radius: 5px;
    box-shadow: 2px 2px 8px -2px gray;
}
.reply-btn{
    margin: -6px auto -8px 15%;
    width: fit-content;
    cursor: pointer;
}
.my-reply-btn{
    margin: -6px 15% -8px auto;
    width: fit-content;
    cursor: pointer;
}