{{ define "content" }}
    <div class="home">
        <div class="title">
            <h1>Chat Room</h1>
        </div>
        <div class="intro">
            <h1>Chat Roomへようこそ！</h1>
            <h3>〜 Go×WebSocketによるリアルタイムチャットサービス 〜</h3><br>
        </div>
        <div class="account_info">
            <p><a href="/signup">新規登録</a></p><br>
            <p><a href="/login">ログイン</a></p><br>
            <h4>採用ご担当者様はこちら</h4>
            <p><a href="/login_guest?account=1">ゲストログイン</a></p><br><br>
        </div>
    </div>
{{ end }}