{{ define "content" }}
    <div class="container">
        <div class="title">
            <h1>Chat Room</h1>
        </div>
        <div class="account">
            <p class="main-title">ログイン</p>
            <form action="/authenticate" method="post" class="form_account">
                <p><input name="name" class="input" type="text" placeholder="Username"></p>
                <p><input name="password" class="input" type="text" placeholder="Password"></p>
                <input type="submit" class="w-50" value="ログイン">
            </form>
            <a href="/" class="to_top">トップへ戻る</a>
        </div>
    </div>
{{ end }}