<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>Chat</title>
        <link href="/static/css/style.css" rel="stylesheet">
    </head>
    <body>
        <div class="title">
            <h1>Chat Room</h1>
        </div>
        <div class="account">
            <p class="main-title">ログイン</p>
            <p>ユーザー名とパスワードを入力してください。</p>
            <form action="/authenticate" method="post" class="form_account">
                <p>ユーザー名：<input name="name" class="input" type="text"></p>
                <p>パスワード：<input name="password" class="input" type="text"></p>
                <input type="submit" class="w-50" value="ログイン">
            </form>
            <a href="/" class="to_top">トップへ戻る</a>
        </div>
    </body>
</html>