{{ define "content"}}
    <div class="title">
        <h1>Real-time Chat</h1>
        <a href="/logout" class="logout">ログアウト</a>
    </div>
    <div class="rooms_intro">
        <p>{{ .User.Name }}さん、チャットルームへようこそ！</p>
        <p><a href="/room/new">ルームを作成</a>または以下のルームに参加してください。</p>
    </div>
    <div class="rooms">
        <div class="rooms-title">
            <p>ルーム一覧</p>
        </div>
        {{ range .Rooms }}
            <div class="rooms-name">
                <p>
                    <a href="/room?id={{.Id}}">{{ .RoomName }}</a>
                    <small>更新日時 - {{ .UpdateTime }}</small>
                </p>
            </div>
        {{ end }}
    </div>
    <br><br>
{{ end }}