<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>Chat</title>
    </head>
    <body>
        <h2>ルーム {{ .Room.RoomName }} {{ .Name }}</h2>
        <input id="name" type="hidden" value="{{ .Name }}">
        <!--formはクエリを再指定すると接続が途切れるので使用不可-->
        <div id="chatbox">
            <textarea rows="3"></textarea>
            <br>
            <input id="send" type="button" value="送信">
        </div>
        <div id="messages">
            {{ range .Messages }}
            <p>{{ .Name }}さん：{{ .Text }}</p>
            {{ end }}
            <!--ここにmessageを表示-->
        </div>
        <div>
            <a href="/">戻る</a>
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="/static/js/room.js"></script>
    </body>
</html>