<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>Chat</title>
    </head>
    <body>
        <h2>ルーム {{ .Room.RoomName }} {{ .Name }}</h2>
        <input id="name" type="hidden" value="{{ .Name }}">
        <!--formはクエリを再指定すると接続が途切れるので使用不可-->
        <div id="chatbox">
            <textarea rows="3"></textarea>
            <br>
            <input id="send" type="button" value="送信">
        </div>
        <div id="messages">
            {{ range .Messages }}
            <p>{{ .Name }}さん：{{ .Text }}</p>
            {{ end }}
            <!--ここにmessageを表示-->
        </div>
        <div>
            <a href="/">戻る</a>
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script>
            $(function(){
                let socket = null;
                let msg = $("#chatbox textarea");  // 入力されたメッセージ
                let name = $("#name")              // 送信者の名前
                let messages = $("#messages");     // message表示スペース
                /*クエリを取得*/
                let query = (new URL(document.location)).searchParams;
                let id = query.get('id');

                /* socketの開設 */
                socket = new WebSocket("ws://localhost:8080/ws?id="+id);

                /* 送信ボタン押下時 */
                document.getElementById("send").onclick = function(){
                    /* socketにデータを送る */
                    socket.send(JSON.stringify({
                        "Name": name.val(),      // 送信者の名前
                        "RoomId": id,      // メッセージ送信者のルームid
                        "Text": msg.val()  // 入力されたメッセージ
                    }));
                    msg.val("");
                    return false;
                };

                /* メッセージ受信時 */
                socket.onmessage = function(e){
                    let msg = eval("("+e.data+")");                    
                    messages.append(
                        $("<p>").append(msg.Name + "さん：" + msg.Text)
                    );
                }
            });
        </script>
    </body>
</html>