<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>Chat</title>
    </head>
    <body>
        <h2>Chat Room</h2>
        <p>{{ .User.Name }}さん、チャットルームへようこそ！</p>
        <div>
            <p><a href="/room/new">ルームを作成</a>または以下のルームに参加してください。</p>
        </div>
        {{ range .Rooms }}
            <div>
                <p><a href="/room?id={{.Id}}">{{ .RoomName }}</a></p>
            </div>
        {{ end }}
        <div>
            <a href="/logout">ログアウト</a>
        </div>
    </body>
</html>